ul {
    list-style: none;
}
.breadcrumbs__list {
    display: flex;
    gap: 20px;
}

.breadcrumbs__item:last-child a {
    text-decoration: none;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.categories-list li {
    padding: 10px;
    border: 1px solid grey;
}
.filter-name {
    font-weight: bold;
}
.filters {
    margin-top: 10px;
}
.filter {
    border-bottom: 1px solid red;
}

.filter label {
    display: block;
}
.btns {
    margin-top: 20px;
}

.card-header span {
    font-weight: bold;
}

.card-header a {
    color: red;
}

.card-body {
    margin-top: 20px;
}
